* {
    box-sizing: border-box;
    background-color: #faebd7;
    border: 1px solid #ccc;
}

body {
    width: 980px;
    margin: auto;
}

.header__search-bar-wrapper {
    text-align: center;
}

.header__search {
    display: inline-block;
}

.post-list {
    width: 100%;
}

.post-item {
    display: inline-block;
    width: 30%;
    height: 100px;
    margin: 10px 13px;
    text-align: center;
}

.logo_area {
    float: left;
}

.searchbar_area {
    text-align: center;
}

.post_item {
    display: inline flex;
}